#threearms {
    layout: horizontal;
    border: solid yellow
}

#psm1 {
    border: solid #10c4a6;
    width: 33%;
}

#ecm {
    border: solid #00a7ff;
    width: 33%;
}

#psm2 {
    border: solid #f65f5f;
    width: 33%;
}