<launch>    
    <node pkg="dvrkeyboard" name="keyboard_teleop_PSM1" type="keyboard_teleop_PSM1.py" output="screen">
    </node>

    <node pkg="dvrkeyboard" name="keyboard_teleop_PSM2" type="keyboard_teleop_PSM2.py" output="screen">
    </node>

    <node pkg="dvrkeyboard" name="keyboardwrench_MTMR" type="keyboardwrench_MTMR.py" output="screen">
    </node>

    <node pkg="dvrkeyboard" name="keyboardwrench_MTML" type="keyboardwrench_MTML.py" output="screen">
    </node>
</launch>