/* ARMS */
PSM1 {
    layout: grid;
    grid-size: 4 7;
    grid-columns: 2fr 2fr 1fr 1fr;
    content-align: center middle;
    height:2fr;
    border: solid #10c4a6;
}

PSM2 {
    layout: grid;
    grid-size: 4 7;
    grid-columns: 2fr 2fr 1fr 1fr;
    content-align: center middle;
    height:2fr;
    border: solid #f1bf2d;
}

MTML {
    layout: grid;
    grid-size: 4 3;
    grid-columns: 2fr 2fr 1fr 1fr;
    height:1fr;   
    border: solid #10c4a6;
}

MTMR {
    layout: grid;
    grid-size: 4 3;
    grid-columns: 2fr 2fr 1fr 1fr;
    height:1fr;    
    border: solid #f1bf2d;
}

/* ------------------------- */
Joint {
    height: 100%;
    content-align: center middle;
}

JointName {
    content-align: center middle;
    border: solid white;
}

JointValue {
    padding: 1;
    content-align: center middle;
}

ButtonUp {
    content-align: center middle;
}
ButtonDown {
    content-align: center middle;
}
/* ------------------------- */


#left {
    width: 1fr;    

}

#right {
    width: 1fr;
}

#psm1_name {
    color: #10c4a6;
    content-align: center middle;
    height: 1;
}
#psm2_name {
    color: #f1bf2d;
    content-align: center middle;
    height: 1;
}
#mtml_name {
    color: #10c4a6;
    content-align: center middle;
    height: 1;
}
#mtmr_name {
    color: #f1bf2d;
    content-align: center middle;
    height: 1;
}
/* -------------------------------------------- */

#debug_console {
    content-align: left middle;
    color:  blue;
    /* height: 3; */
    border: solid blue;
}

#bottombar {
    layout: grid;
    grid-size: 3 1;
    height: 3;
    grid-columns: 1fr 1fr 4fr;
    content-align: center middle;
}

#increment_label {
    content-align: right middle;
    color:  white;
    height: 3;
    /* border: solid white; */
}

#psm1_gripper_switch {
    column-span: 2;
    content-align: center middle;

}