/* ARMS */
PSM1 {
    layout: grid;
    grid-size: 4 6;
    grid-columns: 2fr 2fr 1fr 1fr;
    content-align: center middle;
    height:2fr;
    border: solid #10c4a6;
}

PSM2 {
    layout: grid;
    grid-size: 4 6;
    grid-columns: 2fr 2fr 1fr 1fr;
    content-align: center middle;
    height:2fr;
    border: solid #f1bf2d;
}

MTML {
    layout: grid;
    grid-size: 4 3;
    grid-columns: 2fr 2fr 1fr 1fr;
    height:1fr;   
    border: solid #10c4a6;
}

MTMR {
    layout: grid;
    grid-size: 4 3;
    grid-columns: 2fr 2fr 1fr 1fr;
    height:1fr;    
    border: solid #f1bf2d;
}

/* ------------------------- */
Joint {
    height: 100%;
    content-align: center middle;
}

JointName {
    content-align: center middle;
    border: solid white;
}

JointValue {
    padding: 1;
    content-align: center middle;
}

ButtonUp {
    content-align: center middle;
}
ButtonDown {
    content-align: center middle;
}
/* ------------------------- */
Input {

}

PSM1_dof_up {
    /* background: green; */
    width: 100%;
    height: 100%;
    content-align: center middle;
    margin: 1;
}

PSM1_dof_down {
    /* background: red; */
    width: 100%;
    height:100%;
    content-align: center middle;
    /* margin: 1; */
}

PSM1_dof {
    border: solid #10c4a6;
    width: 100%;
    height: 100%;
    content-align: center middle;
}

PSM2_dof_up {
    /* background: green; */
    content-align: center middle;
    width: 100%;
    height:100%;
}

PSM2_dof_down {
    /* background: red; */
    content-align: center middle;
    width: 100%;
    height:100%;
}

PSM2_dof {
    border: solid #f1bf2d;
    content-align: center middle;
    width: 100%;
    height:100%;
}

MTML_dof_up {
    /* background: green; */
    content-align: center middle;
    width: 100%;
    height:100%;
}

MTML_dof_down {
    /* background: red; */
    content-align: center middle;
    width: 100%;
    height:100%;
}

MTML_dof {
    border: solid #83cabe;
    content-align: center middle;
    width: 100%;
    height:100%;
}

MTMR_dof_up {
    /* background: green; */
    content-align: center middle;
    width: 100%;
    height:100%;
}

MTMR_dof_down {
    /* background: red; */
    content-align: center middle;
    width: 100%;
    height:100%;
}

MTMR_dof {
    border: solid #fae39e;
    content-align: center middle;
    width: 100%;
    height:100%;
}

DOF_value {
    color: #ff00ff;
    content-align: center middle;
    height: 1fr;
    border: white;
}

#left {
    width: 1fr;    

}

#right {
    width: 1fr;
}

#psm1_name {
    color: #10c4a6;
    content-align: center middle;
    height: 1;
}
#psm2_name {
    color: #f1bf2d;
    content-align: center middle;
    height: 1;
}
#mtml_name {
    color: #10c4a6;
    content-align: center middle;
    height: 1;
}
#mtmr_name {
    color: #f1bf2d;
    content-align: center middle;
    height: 1;
}
/* -------------------------------------------- */

#debug_console {
    content-align: left middle;
    color:  blue;
    /* height: 3; */
    border: solid blue;
}

#bottombar {
    layout: grid;
    grid-size: 3 1;
    height: 3;
    grid-columns: 1fr 1fr 4fr;
    content-align: center middle;
}

#increment_label {
    content-align: right middle;
    color:  white;
    /* height: 3; */
    border: solid white;
}