PSM1 {
    layout: grid;
    grid-size: 3 2;
    content-align: center middle;
    height:2fr;
}
PSM2 {
    layout: grid;
    grid-size: 3 2;
    content-align: center middle;
    height:2fr;
}

MTML {
    layout: grid;
    grid-size: 3 1;
    height:1fr;
}
MTMR {
    layout: grid;
    grid-size: 3 1;
    height:1fr;
}

PSM1_dof_up {
    background: green;
    width: 100%;
    height: 100%;
    margin: 1;
    content-align: center middle;
}

PSM1_dof_down {
    background: red;
    width: 100%;
    height: 100%;
    margin: 1;
    content-align: center middle;
}

PSM1_dof {
    margin: solid #10c4a6;
    width: 100%;
    height: 100%;
    margin: 1;
    content-align: center middle;
}

PSM2_dof_up {
    background: green;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

PSM2_dof_down {
    background: red;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

PSM2_dof {
    margin: solid #f1bf2d;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

MTML_dof_up {
    background: green;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

MTML_dof_down {
    background: red;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

MTML_dof {
    margin: solid #83cabe;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

MTMR_dof_up {
    background: green;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

MTMR_dof_down {
    background: red;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

MTMR_dof {
    margin: solid #fae39e;
    content-align: center middle;
    width: 100%;
    height: 100%;
    margin:1;
}

DOF_value {
    color: #ff00ff;
    content-align: center middle;
    height: 1fr;
    border: white;
}

#left {
    width: 1fr;
    border: #10c4a6;
}

#right {
    width: 1fr;
    border: #f1bf2d;
}

#psm1_name {
    color: #10c4a6;
    content-align: center middle;
    height: 1;
}
#psm2_name {
    color: #f1bf2d;
    content-align: center middle;
    height: 1;
}
#mtml_name {
    color: #10c4a6;
    content-align: center middle;
    height: 1;
}
#mtmr_name {
    color: #f1bf2d;
    content-align: center middle;
    height: 1;
}